* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  color: #494949;
  line-height: 24px;
  scroll-behavior: smooth;
  /* cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' style='font-size: 64px'><text y='60'>✊🏼</text></svg>"),
    auto; */
}
